@import "tailwindcss";

:root{

--background:#07111F;

--foreground:#ffffff;

}

html{

scroll-behavior:smooth;

}

body{

margin:0;

background:#07111F;

font-family:Inter,sans-serif;

}

*{

box-sizing:border-box;

}